.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.morfix-front-logo {
    width: 80px; 
    height: 80px;
}
.text-lightred {
  color: #E14658;
}
a.text-lightred:hover,
a.text-lightred:active,
a.text-lightred:focus,
button.text-lightred:hover,
button.text-lightred:active,
button.text-lightred:focus {
  color: #E14658;
  opacity: .75;
}